@import "tailwindcss";

@font-face {
  font-family: 'Nimbus Sans';
  font-weight: 400;
  src: url('/fonts/nimbus-sans-d-ot-400.woff2') format('woff2');
}

:root {
  font-family: 'Nimbus Sans', Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root, html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

